%p#notice= notice

%h2= @document.title
%h3 Straight HTML:
%pre
  = @document.cleaned

%h3 Cleaned:
= sanitize(@document.cleaned)
%br/ 
%div
  = link_to 'Edit', edit_document_path(@document)
  \|
  = link_to 'Back', documents_path
%br/ 
%br/ 
%br/ 